:host {
  width: 100%;
  max-width: 660px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 830px;
  background: #fff;
  border-radius: 20px;
}
